# ignore all visual studio internal files
/.vs/
/Rawrite32.vcxproj.user

# ignore all output directories
/Debug/
/Release/

# ignore the installer
/rw32-setup-*.exe

# ignore external source directories
/bz2lib/
/xz/
/zlib/
/NetBSD/
